.login-container {
    display: flex;
  }
  .image-login-container {
    background-image: url("../Images/login.jpeg");
    background-size: 100% 100%;
    width: 100vh;
    height: 90vh;
  }
  .text-login-container input {
    border: 1px solid #374AA6;
    padding: 1vw 1vw;
    border-radius: 10px;
    width: 300px;
    display: flex;
    margin: 5px;
    margin-left: 40px;
  }
  
  .text-login-container button {
    border: 1px solid rgb(131, 140, 239);
    padding: 0.8vw 1vw;
    border-radius: 10px;
    margin: 5px;
    margin-left: 40px;
  }
  .text-login-container button:hover {
    background-color: #a4a4db;
    cursor: pointer;
  }
  .text-login-container {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .text-login-container img{
      height: 60px;
      padding: 20px;
  }
  .text-login-container label{
      padding: 40px;
  }
  
  .error-msg{
    color: #ff0000;
    padding-left: 40px;
    font-size: 14px;
  }
  p{
    padding-left: 40px;
  }