.signup-container{
    display: flex;
}
.image-signup-container{
    background-image: url("../Images/register.jpeg");
    background-size: 100% 100%;
    width: 115vh;
    height: 91vh;

}
.signup-text input{
    border: #374AA6 solid 1px;
    padding: 1vw 1vw;
    border-radius: 10px;
    width: 300px;
    display: flex;
    margin: 5px;

}
.signup-text button{
    border: #374AA6 solid 1px;
    padding: 0.8vw 1vw;
    border-radius: 10px;
    margin:5px;
}

.signup-text button:hover{
    background-color: #374AA6;
    color: white;
}

.signup-text{
    border: #374AA6 solid 1px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.signup-text label{
    padding:5px;
}

