nav{
  background-color:#374AA6;
  color:white;
  padding: 5px;
}
 ul{
  list-style-type: none;
  display: flex;
  justify-content:space-around;
  align-items: center;

}
ul img{
  height: 35px;
  width: 40px;
}